@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: "GothamProNarrowBold";
    src: url("../fonts/GothamProNarrow/GothamProNarrowBold/GothamProNarrowBold.eot");
    src: url("../fonts/GothamProNarrow/GothamProNarrowBold/GothamProNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProNarrow/GothamProNarrowBold/GothamProNarrowBold.woff") format("woff"),
    url("../fonts/GothamProNarrow/GothamProNarrowBold/GothamProNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProNarrowMedium";
    src: url("../fonts/GothamProNarrow/GothamProNarrowMedium/GothamProNarrowMedium.eot");
    src: url("../fonts/GothamProNarrow/GothamProNarrowMedium/GothamProNarrowMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProNarrow/GothamProNarrowMedium/GothamProNarrowMedium.woff") format("woff"),
    url("../fonts/GothamProNarrow/GothamProNarrowMedium/GothamProNarrowMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

