.__pullRight {
  float: right !important;
}

.__pullLeft {
  float: right !important;
}

.__invisible {
  visibility: hidden !important;
}

.__hidden {
  display: none !important;
}

.__clear {
  clear: both !important;
}

.__textRight {
  text-align: right !important;
}

.__textLeft {
  text-align: left !important;
}

.__textCenter {
  text-align: center !important;
}

.__textJustify {
  text-align: justify !important;
}

.__textNoWrap {
  white-space: nowrap !important;
}

.__textLowerCase {
  text-transform: lowercase !important;
}

.__textUpperCase {
  text-transform: uppercase !important;
}

.__textCapitalize {
  text-transform: capitalize !important;
}

.__flexWrap {
  flex-wrap: wrap !important;
}

.__flexNoWrap {
  flex-wrap: nowrap !important;
}